/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
    height                : 20px;
    width                 : 4px;
  }
  
  .jOrgChart .down {
    background-color 		: black;	
    margin 				: 0px auto;
  }
  
  .jOrgChart .top {
    border-top          : 3px solid black;
  }
  
  .jOrgChart .left {
    border-right          : 2px solid black;
  }
  
  .jOrgChart .right {
    border-left           : 2px solid black;
  }
  
  /* node cell */
  .jOrgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0;
  }
  
  /* The node */
  .jOrgChart .node {
    background-color 		: #35363B;
    display               : inline-block;
    width                 : 96px;
    height                : 60px;
    z-index 				: 10;
    margin               : 0 2px;
  }
  
  /* jQuery drag 'n drop */
  
  .drag-active {
    border-style			: dotted !important;
  }
  
  .drop-hover {
    border-style			: solid !important;
    border-color 			: #E05E00 !important;
  }
  