{% extends 'base.html' %}
{% block content %}
   <div class="col-md-12 col">
       <div class="container-fluid">
           <div class="card">
               <div class="card-header">
                   <h3 class="card-title">C4.5</h3>
               </div>
               <div class="card-body">
                   <div class="container-fluid">
                       <div class="form-group">
                           <label for="">Upload Dataset C4.5</label>
                           <input type="file" id="fileku" class="form-control">
                       </div>
                       <div class="form-group text-right">
                           <button class="btn btn-primary" onclick="pohonKeputusan()">
                               Pohon keputusan
                           </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="col-md-12 col">
       <div class="container-fluid">
           <div class="card">
               <div class="card-body">
                   <div class="container-fluid">
                       <div style="
                        position: relative;
                        height: 420px;
                        border: 1px solid #aaa;
                        margin: 0.5rem;
                        overflow: auto;
                        text-align: center;
                            ">
                            <div id="pohon" style="min-height:20rem;width:100%"></div>
                        
                       </div>
                   </div>
               </div>
           </div>
       </div>
       
   </div>

   
{% endblock %}  

{% block js %}
   <script>
      $(document).ready(()=>{
          var defaultContent = `<ul>__CONTENT__</ul>`
    
          window.pohonKeputusan = async()=>{
            var file = $("#fileku")[0].files[0]

            var formData = new FormData()
            formData.append("file",file)
            var header = {
                'Content-Type':'multipart/form-data'
            }
            const {data} = await axios.post(`{{pathUri}}`,formData,{
                headers:{
                    ...header,
                }
            })
            console.log(data)
            const options = {
                data:{
                    title : "C45",
                    name:"ROOT",
                    children:data
                },
                nodeContent:'title',
                
                pan:true
            }
            
            window.ch = $("#pohon").orgchart({
                ...options,
                direction:'l2r',
                collapsed:true,
            })
          }
          
      })
   </script>
{% endblock %}